#table {
  border: 1px solid #aaa;
  margin: 10px;
  height: 600px;
  width: 360px;
  box-shadow: 2px 2px 3px #888;
  background-color: RGB(240, 240, 240);
}

#left-top-margin {
	height: 150px;
  width: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: RGB(155, 155, 155);
}

#picture-container {
	width: 360px;
	height: 200px;
}

#picture-container img {
 width: 100%;
}







#dropdown-container {
  width: 330px;

}




#dropdown-left {
  position: relative;
  left: 30px;
  width: 140px;
  height: 60px;
  overflow:auto;
}

#dropdown-right {
  width: 140px;
  height: 60px;
  position: relative;
  float:right;
}

.select {
  width: 140px;
  height: 60px;
}